.header-container{
  display : flex;
  flex-direction : row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-light);
  border-bottom: 1px solid lightgray;
  padding: 5px 10px;
}

.branding{
  font-size: var(--font-lg);
  font-weight: bold;
  color: var(--brand-color-3);
}

.nav-container ul{
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
  font-size: var(--font-md);
  gap: 8px;
  list-style-type: none;
}